<div
  class="min-h-screen transition-colors duration-300"
  [ngClass]="{
    'bg-gradient-to-br from-green-50 to-green-100': !darkMode,
    'bg-gradient-to-br from-gray-900 to-gray-800': darkMode
  }"
>
  <!-- Cabecera -->
  <header
    class="w-full p-4 shadow-lg"
    [ngClass]="{ 'bg-white': !darkMode, 'bg-gray-800': darkMode }"
  >
    <div class="container w-full mx-auto">
      <div class="flex flex-col items-center justify-between md:flex-row">
        <!-- Logo y Título -->
        <div class="flex items-center mb-4 md:mb-0">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="w-10 h-10 mr-3 text-green-600 dark:text-green-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
          <h1
            class="text-3xl font-bold"
            [ngClass]="{
              'text-green-800': !darkMode,
              'text-green-400': darkMode
            }"
          >
            Panel de Administración
          </h1>
        </div>

        <!-- Menú de Navegación -->
        <nav>
          <ul class="flex space-x-1 md:space-x-6">
            <li>
              <a routerLink="/inicio" routerLinkActive="bg-green-100 "
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg" [ngClass]="{
                  'text-gray-700 hover:bg-green-100': !darkMode,
                  'text-gray-200 dark:bg-gray-700 hover:bg-gray-800': darkMode
                }">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5 mr-1" fill="none" viewBox="0 0 24 24"
                  stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6" />
                </svg>
                Inicio
              </a>
            </li>
            <li>
              <a
                routerLink="/dashboard"
                routerLinkActive="bg-green-100 "
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg"
                [ngClass]="{
                  'text-gray-700 hover:bg-green-100': !darkMode,
                  'text-gray-200 dark:bg-gray-700 hover:bg-gray-800': darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 mr-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"
                  />
                </svg>
                Dashboard
              </a>
            </li>
            <li>
              <a
                routerLink="/map"
                routerLinkActive="bg-green-100 dark:bg-gray-700"
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg"
                [ngClass]="{
                  'text-gray-700 hover:bg-green-100': !darkMode,
                  'text-gray-200 hover:bg-gray-700': darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 mr-1"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 20l-5.447-2.724A1 1 0 013 16.382V5.618a1 1 0 011.447-.894L9 7m0 13l6-3m-6 3V7m6 10l4.553 2.276A1 1 0 0021 18.382V7.618a1 1 0 00-.553-.894L15 4m0 13V4m0 0L9 7"
                  />
                </svg>
                Ver Mapa
              </a>
            </li>
            <li>
              <button
                (click)="toggleDarkMode()"
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg"
                [ngClass]="{
                  'text-gray-700 hover:bg-green-100': !darkMode,
                  'text-gray-200 hover:bg-gray-700': darkMode
                }"
              >
                <svg
                  *ngIf="!darkMode"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
                  />
                </svg>
                <svg
                  *ngIf="darkMode"
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </button>
            </li>
            <li>
              <button
                (click)="logout()"
                class="flex items-center px-6 py-2 text-white rounded-md cursor-pointer"
                [ngClass]="{
                  'bg-red-600 hover:bg-red-700 text-white!': !darkMode,
                  'bg-red-500 hover:bg-red-600 text-white': darkMode
                }"
              >
                Salir
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <!-- Contenido principal con ancho completo -->
  <div class="container max-w-full px-4 py-6 mx-auto">
    <!-- Layout flexible para permitir colapsar el sidebar -->
    <div class="flex flex-col gap-2 md:flex-row">
      <!-- Sidebar de navegación con ancho reducido -->
      <div class="mb-6 md:w-64 md:mb-0 md:min-w-64 md:flex-shrink-0">
        <div
          class="sticky p-4 rounded-lg shadow-lg top-20"
          [ngClass]="{ 'bg-white': !darkMode, 'bg-gray-800': darkMode }"
        >
          <h3
            class="pb-2 mb-4 text-lg font-semibold border-b"
            [ngClass]="{
              'text-green-800 border-gray-200': !darkMode,
              'text-green-400 border-gray-700': darkMode
            }"
          >
            Menú de Administración
          </h3>

          <ul class="space-y-1">
            <li>
              <a
                (click)="setActiveView('dashboard')"
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    activeView === 'dashboard' && !darkMode,
                  'bg-gray-700 text-green-400':
                    activeView === 'dashboard' && darkMode,
                  'text-gray-700 hover:bg-green-50':
                    activeView !== 'dashboard' && !darkMode,
                  'text-gray-300 hover:bg-gray-700':
                    activeView !== 'dashboard' && darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                  />
                </svg>
                Resumen
              </a>
            </li>
            <li>
              <a
                (click)="setActiveView('users')"
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    activeView === 'users' && !darkMode,
                  'bg-gray-700 text-green-400':
                    activeView === 'users' && darkMode,
                  'text-gray-700 hover:bg-green-50':
                    activeView !== 'users' && !darkMode,
                  'text-gray-300 hover:bg-gray-700':
                    activeView !== 'users' && darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
                Usuarios
              </a>
            </li>
            <li>
              <a
                (click)="setActiveView('markers')"
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    activeView === 'markers' && !darkMode,
                  'bg-gray-700 text-green-400':
                    activeView === 'markers' && darkMode,
                  'text-gray-700 hover:bg-green-50':
                    activeView !== 'markers' && !darkMode,
                  'text-gray-300 hover:bg-gray-700':
                    activeView !== 'markers' && darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
                Puntos del Mapa
              </a>
            </li>
            <li>
              <a
                (click)="setActiveView('audit')"
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    activeView === 'audit' && !darkMode,
                  'bg-gray-700 text-green-400':
                    activeView === 'audit' && darkMode,
                  'text-gray-700 hover:bg-green-50':
                    activeView !== 'audit' && !darkMode,
                  'text-gray-300 hover:bg-gray-700':
                    activeView !== 'audit' && darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2"
                  />
                </svg>
                Auditoría
              </a>
            </li>
            <li>
              <a
                (click)="setActiveView('settings')"
                class="flex items-center px-3 py-2 transition-colors duration-200 rounded-lg cursor-pointer"
                [ngClass]="{
                  'bg-green-100 text-green-800':
                    activeView === 'settings' && !darkMode,
                  'bg-gray-700 text-green-400':
                    activeView === 'settings' && darkMode,
                  'text-gray-700 hover:bg-green-50':
                    activeView !== 'settings' && !darkMode,
                  'text-gray-300 hover:bg-gray-700':
                    activeView !== 'settings' && darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-5 h-5 mr-2"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
                Configuración
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Contenido principal con máximo ancho disponible -->
      <div class="flex-grow w-full">
        <!-- Vista del Dashboard -->
        <div
          *ngIf="activeView === 'dashboard'"
          class="grid grid-cols-1 gap-4 mb-6 md:grid-cols-2 lg:grid-cols-3"
        >
          <!-- Tarjeta de Estadísticas: Usuarios -->
          <div
            class="p-4 rounded-lg shadow-lg"
            [ngClass]="{ 'bg-white': !darkMode, 'bg-gray-800': darkMode }"
          >
            <div class="flex items-center mb-3">
              <div
                class="p-3 mr-3 rounded-full"
                [ngClass]="{
                  'bg-blue-100': !darkMode,
                  'bg-blue-900': darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6"
                  [ngClass]="{
                    'text-blue-600': !darkMode,
                    'text-blue-400': darkMode
                  }"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z"
                  />
                </svg>
              </div>
              <div>
                <h4
                  class="text-sm font-medium"
                  [ngClass]="{
                    'text-gray-500': !darkMode,
                    'text-gray-400': darkMode
                  }"
                >
                  Usuarios
                </h4>
                <p
                  class="text-2xl font-bold"
                  [ngClass]="{
                    'text-gray-800': !darkMode,
                    'text-white': darkMode
                  }"
                >
                  120
                </p>
              </div>
            </div>
            <div
              class="flex items-center text-sm"
              [ngClass]="{
                'text-green-600': !darkMode,
                'text-green-400': darkMode
              }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                />
              </svg>
              <span>Aumento de 12% este mes</span>
            </div>
          </div>

          <!-- Tarjeta de Estadísticas: Puntos -->
          <div
            class="p-4 rounded-lg shadow-lg"
            [ngClass]="{ 'bg-white': !darkMode, 'bg-gray-800': darkMode }"
          >
            <div class="flex items-center mb-3">
              <div
                class="p-3 mr-3 rounded-full"
                [ngClass]="{
                  'bg-green-100': !darkMode,
                  'bg-green-900': darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6"
                  [ngClass]="{
                    'text-green-600': !darkMode,
                    'text-green-400': darkMode
                  }"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M17.657 16.657L13.414 20.9a1.998 1.998 0 01-2.827 0l-4.244-4.243a8 8 0 1111.314 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 11a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                </svg>
              </div>
              <div>
                <h4
                  class="text-sm font-medium"
                  [ngClass]="{
                    'text-gray-500': !darkMode,
                    'text-gray-400': darkMode
                  }"
                >
                  Puntos del Mapa
                </h4>
                <p
                  class="text-2xl font-bold"
                  [ngClass]="{
                    'text-gray-800': !darkMode,
                    'text-white': darkMode
                  }"
                >
                  574
                </p>
              </div>
            </div>
            <div
              class="flex items-center text-sm"
              [ngClass]="{
                'text-green-600': !darkMode,
                'text-green-400': darkMode
              }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                />
              </svg>
              <span>Aumento de 8% esta semana</span>
            </div>
          </div>

          <!-- Tarjeta de Estadísticas: Visitas -->
          <div
            class="p-4 rounded-lg shadow-lg"
            [ngClass]="{ 'bg-white': !darkMode, 'bg-gray-800': darkMode }"
          >
            <div class="flex items-center mb-3">
              <div
                class="p-3 mr-3 rounded-full"
                [ngClass]="{
                  'bg-purple-100': !darkMode,
                  'bg-purple-900': darkMode
                }"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="w-6 h-6"
                  [ngClass]="{
                    'text-purple-600': !darkMode,
                    'text-purple-400': darkMode
                  }"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"
                  />
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"
                  />
                </svg>
              </div>
              <div>
                <h4
                  class="text-sm font-medium"
                  [ngClass]="{
                    'text-gray-500': !darkMode,
                    'text-gray-400': darkMode
                  }"
                >
                  Visitas
                </h4>
                <p
                  class="text-2xl font-bold"
                  [ngClass]="{
                    'text-gray-800': !darkMode,
                    'text-white': darkMode
                  }"
                >
                  15.2K
                </p>
              </div>
            </div>
            <div
              class="flex items-center text-sm"
              [ngClass]="{
                'text-green-600': !darkMode,
                'text-green-400': darkMode
              }"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-5 h-5 mr-1"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M13 7h8m0 0v8m0-8l-8 8-4-4-6 6"
                />
              </svg>
              <span>Aumento de 24% este mes</span>
            </div>
          </div>
        </div>

        <!-- Actividad Reciente -->
        <div
          *ngIf="activeView === 'dashboard'"
          class="mb-6 overflow-hidden rounded-lg shadow-lg"
          [ngClass]="{ 'bg-white': !darkMode, 'bg-gray-800': darkMode }"
        >
          <div
            class="px-4 py-3 border-b"
            [ngClass]="{
              'border-gray-200': !darkMode,
              'border-gray-700': darkMode
            }"
          >
            <h3
              class="text-lg font-semibold"
              [ngClass]="{ 'text-gray-800': !darkMode, 'text-white': darkMode }"
            >
              Actividad Reciente
            </h3>
          </div>
        </div>

        <!-- Componente de Marcadores (ancho completo) -->
        <div *ngIf="activeView === 'markers'" class="w-full">
          <app-markers></app-markers>
        </div>

        <div *ngIf="activeView === 'users'" class="w-full">
          <app-users></app-users>
        </div>
      </div>
    </div>
  </div>
</div>
